{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

{% extends "MusicWebSitePlatformBundle::layout.html.twig" %}

{% block title %}
  Lecture d'une annonce - {{ parent() }}
{% endblock %}

{% block musicplatform_body %}

  

  <ul>
    {% for advert in listAdverts %}
      <li>
        <a href="{{ path('music_platform_view', {'id': advert.id}) }}">
          {{ advert.title }}
        </a>
        par {{ advert.author }},
        le {{ advert.date|date('d/m/Y') }}
      </li>
    {% else %}
      <li>Pas (encore !) d'annonces</li>
    {% endfor %}
  </ul>

{% endblock %}